


/* navbar===========> */
ul {
    list-style: none;
    /* margin-top: -10px; */
}

hr {
    margin: 30px 0;
}

#container {
    width: 95%;
    margin: auto;
    margin-top: 8rem;
    display: flex;
    gap: 20px;
    /* border: 1px solid red; */
}

#sidebar {
    width: 24%;
    /* border: 2px solid red; */
}

#categories {
    /* margin-top: -20px; */
    /* border: 1px solid teal; */
    margin:  auto;
}
i{
    font-size: 20px;
}
.cat_head {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 20px auto;
}

.spin {
    transform: rotate(180deg);
}

#all_cat {
    list-style: none;
    
    /* margin-left: -40px; */
}

#mob_cat {
    list-style: none;
    /* margin-left: 10%; */
    margin-left: -40px;
}

li{
    font-family: Arial, Helvetica, sans-serif;
}
#location2 li{
    margin-left: 30px;
}
#loc_div {
    height: 150px;
    overflow-y: scroll;
    margin-left: -30px;
}

#loc_div>ul {
    margin-top: 0px;
}

#loc_div::-webkit-scrollbar {
    width: 5px;
}

#loc_div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.teal {
    background-color: skyblue;
    padding: 8px;
    font-weight: bold;
    /* margin-left: 10%; */
}

li {
    margin-bottom: 5px;
}
.brand_p{
    margin: 10px auto;
}
#brand_div {
    max-height: 200px;
    overflow: scroll;
    margin-bottom: 50px;
    overflow-x: hidden;
    
}

#brand_div::-webkit-scrollbar {
    width: 5px;
}

#brand_div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 45px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.brand_filter {
    /* margin: 1px; */
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #888;
}
.brand_filter:hover{
    color: black;
}

.chk_box {
    width: 20px;
    height: 20px;
    border: 2px solid grey;
}
.choose_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.choose_head2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.km_driven{
    font-family: Roboto,Arial,Helvetica,sans-serif;   
}

.dusra{
    font-family: Roboto,Arial,Helvetica,sans-serif;   
    /* border: 1px solid teal; */
    width: 100%;
    /* display: none; */
}

.choose_price_range{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 20px auto;
    padding: 5px;
    height: 25px;
    cursor: pointer;
    font-family: Roboto,Arial,Helvetica,sans-serif;  
    color: rgb(111, 106, 106);
}
.choose_price_range:hover{
    color: black;
}
.dusra2{
    font-family: Roboto,Arial,Helvetica,sans-serif;   
    /* border: 1px solid teal; */
    width: 100%;
    /* display: none; */
}

.choose_price_range2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 0.5px solid black; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 20px auto;
    padding: 5px;
    height: 25px;
    cursor: pointer;
    font-family: Roboto,Arial,Helvetica,sans-serif;  
    color: rgb(111, 106, 106);
}
.choose_price_range2:hover{
    color: black;
}


.gry {
    color: grey;
    margin: 15px auto;
    /* margin-left: -30px; */
}

.gry:hover {
    color: black;
}

#price_range {
    width: 100%;
}

#price_slider_div {
    display: flex;
    gap: 10px;
}

#max_bud {
    margin-right: 40px;
}

#apply_price {
    padding: 7px 10px;
    font-weight: bold;
    border: none;
    background-color: teal;
    border-radius: 10%;
}

#apply_price:hover {
    background-color: #555;
}

.grey {
    color: grey;
}


#slider_price {
    display: flex;
    justify-content: space-between;
}

#mob_con {
    width: 76%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}


#mob_divs {
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 60%;
    cursor: pointer;
}

.img_div {
    width: 100%;
    height: 60%;
    /* border: 1px solid red; */
    text-align: center;
    margin: 10px;
    
}

#mob_divs>.img_div>img {
    max-width: 90%;
    height: 100%;
}

.address_div {
    display: flex;
    justify-content: space-between;
    font-size:  16px;
    /* border: 1px solid teal; */
    margin: 10px auto;
}

.heart {
    position: relative;
    left: 93%;
    bottom: 100%;
    font-size: 20px;
    /* border: 1px solid red; */
}
#home_page_header{
    margin-bottom: 250px;
}
#load_btn {
    width: 40%;
    height: 50px;
    margin: auto;
    margin-bottom: 70px;
    margin-left: 140%;
    border: 3px solid teal;
    cursor: pointer;
    border-radius: 5px;
    color: rgba(2, 85, 85, 0.961);
    font-size: 15px;
    font-weight: bolder;
}
#load_btn:hover{
    border: 5px solid rgba(2, 85, 85, 0.961);
}
