body{
    background-color: #ebeeef;
}
    
.add_img img{
    width: 800px;
    position: relative;
    z-index: -1;
    
     
}
.add_img{
    width: 800px;
    margin: auto;
    margin-top: 35px;
    height: 200px;
    position:relative;
    cursor: pointer;
    padding-bottom: 30px;
}
.add_img i{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
    cursor: pointer;
}



.container{
    height: 700px;
    width: 90%;
    margin: auto;
    
    display: flex;

    
}
.class1{
    width: 65%;
    height: 100%;
    
    
    
    
}
.class1>div:nth-child(1){
    background-color: black;
    border-radius: 3px;
    height: 45%;
    
    border: 1px solid white;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}
.class1 img{
    width: 90%;
    height: 90%;
    display: flex;
        margin: auto;
        background-color: black;
        margin-bottom: 100px;
        margin-top: 15px;
    
}
.class1>div>div:nth-child(1){
    height: 120px;
    width: 90%;
    margin: auto;
    border: 1px solid white;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2%;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.class1>div>div>h1{
    line-height: 0.2;
    font-size: 30px;
    padding-left: 15px;
}
.class1>div>div>h4{
    line-height: 0.3;
    padding-left: 15px;
    color: #6f8a94;
}
.class1>div>div>p{
    font-size: 15px;
    font-weight: normal;
    float: left;
    margin-right:20px ;
    line-height: 0.1;
    cursor: pointer;
    padding-left: 15px;
    color: #6f8a94;
}
#child{
    width: 90%;
    margin: auto;
    border-radius: 2%;
    margin-bottom: 5px;
    border: 1px solid white;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 120px;
    border: 1px solid white;
    
    
}
#child2{
    width: 90%;
    border: 1px solid white;
    background-color: white;
    border-radius: 2%;
    height: 120px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   
    
}




.class2{
    height: 100%;
   
    width: 35%;
    margin-left: 5px;
    
    /* display: grid; */
    

}
.class2>div:nth-child(1){
    height: 120px;
    width: 100%;
    border: 1px solid white;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.class2>div h1{
    padding-left: 15px;
}
.class2>div>button{
    width: 300px;
    height: 35px;
    margin-left: 15px;
    background-color: #002f34;
    color: white;
}
.class2>div>button:hover{
    background-color: white;
    border:4px solid #002f34;
    color: #002f34;
}
.class3 h4{
    padding-left: 15px;
}
.class3 h2{
    padding-left: 15px;
    line-height: 0.1;
}
.class3 p{
    padding-left: 15px;
}


.class2>div:nth-child(2){
    height: 220px;
    
    border: 1px solid white;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
    margin-bottom: 10px;
}
.class2>div:nth-child(3){
    height: 335px;
    border: 1px solid white;
    
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

#child>p{
    font-size: 15px;
    font-weight: normal;
    float: left;
    margin-right:30px ;
    line-height: 1.2;
    padding-left: 15px;
    cursor: pointer;
}


   

