#container{
    width: 90%;
    margin:auto;
    margin-top: 10rem;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
}
#con_left{
    width: 65%;
}
#con_right{
    width: 35%;
}
#img_con6{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: black;
    text-align: center;
    border-radius: 5px;
}
#desc_con6{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
#brand_con6{
    display: flex;
    gap: 40%;
}
#price_con6{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px 20px;
    border-radius: 5px;
}
#flex_price{
    /* height: 26px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* #price66,#price6{
    font-size: 20px;
} */
#icons6{
    display: flex;
    gap: 10px;
    font-size: 20px;
}
#price_desc6{
    margin-top: -5px;
    color: grey;
    font-weight: lighter;
}
#loc_div6{
    display: flex;
    justify-content: space-between;
}
#sell_desc6{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px 20px 25px 20px;
    margin-top: 10px;
    border-radius: 5px;
}
#avatar6{
    display: flex;
}
#avatar6>div>img{
    width: 100px;
}
#chat_btn6{
    margin-top: 20px;
    width: 100%;
    padding: 12px 0;
    font-weight: bold;
    font-size: 17px;
    border: 2px solid black;
    background-color: white;
}
#chat_btn6:hover{
    border: 4px solid black;
}
#seller_desc{
    font-weight: lighter;
}