*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(215, 215, 220, 0.726);
    padding: 10px;
}

#olx_logo img{
    width: 50px;
}

#nav_location, #search{
    background-color: white;
    border-radius: 5px;
}

#nav_location_input{
    border: 2px solid rgb(39, 39, 40);
    padding: 10px 10px;
    border-radius: 5px;
}

#nav_location_input > input {
    font-size: 15px;
    border: none;
    outline: none;
}

#nav_location_input .fa-magnifying-glass {
    font-size: 18px;
    padding-right: 10px;
    color: rgb(78, 78, 78);
} 

.fa-chevron-down {
    cursor: pointer;
    font-size: 24px;
    padding-right: 10px;
    transition: all 0.3s;
    color: rgb(78, 78, 78);
} 

.down_spin{
    transform: rotate(180deg);
}

#nav_location_location {
    display: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    z-index: 5;
    width: 280px;
    background-color: white;
}

#nav_location_location div {
    padding:0 10px 10px 10px ;
    font-size: 15px;
    color: rgba(78, 77, 77, 0.804);
}

#nav_location_location div:hover {
    background-color: #8aebdec3;
}

#nav_location_location div i {
    font-size: 24px;
    padding: 10px;
}

#search {
    border: 2px solid rgb(39, 39, 40);
    border-radius: 5px;
    width: 45%;
    height: fit-content;
    padding: 0;
    display: flex;
}

#search>input{
    font-size: 16px;
    border: none;
    outline: none;
    width: 95%;
    padding:9px 9px;
}

#search:hover {
    border-color: aquamarine;
}

#search>i{
    background-color: rgb(39, 39, 40);
    padding: 12px 18px;
    font-size: 23px;
    color: white;
    text-align: end;
    margin: 0;
}

#language > div:first-child{
    background-color: none;
    border: none;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

#language > div:first-child i {
    margin-left: 14px;
}

#language_div{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 220px;
    display: none;
    position: absolute;
    z-index: 5;
    right: 60px;
    top: 74px;

}
#language_div h3{
    padding:20px 23px;
    background-color: white;
    border-radius: 5px;
}

#language_div h3 i {
    margin-left: 90px;
    font-size: 25px;
}

#nav_login h3{
    text-decoration: underline;
    font-size: 16px;
}

#nav_login:hover{
    text-decoration: none;
}

#nav_sell button{
    font-weight: bold;
    border: none;
    border: 6px solid ;
    border-radius: 34px;
    background-color: white;
    cursor: pointer;
    padding: 8px 12px;
    display: flex;
    border-color:rgb(76, 241, 186) rgb(59, 59, 227) blue rgb(250, 213, 7);
}

#nav_sell button i{
    font-size: 18px;
}

#nav_sell button h3{
    font-size: 16px;
    padding: 0 5px;
}



#home_page_header{
    cursor: pointer;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    display: flex;
    justify-content:space-around;
    padding: 5px 150px 5px 5px;
    align-items: center;
}

#down3 {
    padding: 0 10px;
}

#home_page_header a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.826);
}

#home_page_header a:hover {
    color: rgb(63, 171, 171);
}

/* dropdown css */
#header_categories_data {
    position: absolute;
    z-index: 5;
    background-color: white;
    display: none;
    padding: 0px 20px;
    width: 96%;
    left: 28px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;}

#header_categories_data>div{
    width: max-content;
    margin-right: 7rem;
}

#header_categories_data h3{
    padding-bottom: 16px;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.893);
}
#header_categories_data p{
    padding-bottom: 13px;
}
