
/* ***************************head imageg****************************** */
*{
    font-family: sans-serif;
}

#section{
    margin-top: 120px;
}
.container{
    position: relative;
    width: 100%;
    
    max-width: 100%;
}
.container img{
    width: 100%;
    height: 150px;
    padding-bottom: 30px;
}
.container .btn{
    position: absolute;
    top: 40%;
    left: 55%;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    font-size:18px;
    font-weight: bold;
    background-color: white;
    border-color: white;
    border-width: 0.5vmax;
    cursor: pointer;
    
}
.container .btn:hover{
    background-color: blue;
    
}
.container a{
    text-decoration: none;
    color: black;
}
.container a:hover{
    color: white;
}
/* ***************************adver img****************************** */
.add_img img{
    width: 800px;
    position: relative;
    z-index: -1;
    
     
}
.add_img{
    width: 800px;
    margin: auto;
    margin-top: 35px;
    height: 200px;
    position:relative;
    
    padding-bottom: 30px;
}
.add_img i{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
    cursor: pointer;}

    /* ***********************************slider*************************************** */
.main{
    border: 1px solid #ebeeef;
    width: 90%;
    margin: auto;
    background-color: #ebeeef;
    border-radius: 1%;
    
    height: 400px;
}
.main1{
    /* font-size: 24px;
    color: #002f34;;
    height:55px;
    border: 1px solid green;
    padding-left: 20px; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* border: 1px solid green; */
    width: 95%;
    margin: auto;
}
.main1 p{
    font-size: 24px;
    color: #002f34;
}
.main1 h3{

color: black
}
.main1 a{
color: black;
padding-right: 20px;


}

.fa-chevron-left, .fa-chevron-right{
    font-size: 20px ;
}
.main a:hover{
text-decoration: none;
}
.parent{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72%;
    /* border: 1px solid blue; */
    
    width: 100%;
    margin: auto
}
.child{
    /* background-color: blue; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 1%;
    width: 23%;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    display: none;
    background-color: white;
    cursor: pointer;
    
}
.child img{
height: 60%;
display: block;
margin-left: auto;
margin-right: auto;
width: 60%;
margin-top: 5px;

}
.child h2, .child p{
    line-height: 0.1;
padding-left: 7px;
}
.child h5{
    line-height: 0.1 ;
font-size: 13px;
color: #6f8a94;
padding-left: 7px;
}
.child h6{
text-align: right;
line-height: 1%;
padding-right: 8px;
color: #6f8a94;
}


#leftarrow,#rightarrow{
    margin-left: 10px;
    margin-right:10px;
    
    display: inline-block;
}

#leftarrow button,#rightarrow button{
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    height: 50px;
    font-size: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}




/* **************************Fresh recommendations********************************************************* */
.fresh{
    width: 95%;
    height: 55px;
    
    /* border: 1px solid red; */
    margin: auto;
}

.fresh  p{
    font-size: 25px;
    padding-left: 20px;
    padding-top: 20px;
}
#fresh_bottom{
    width: 93%;
    /* border: 1px solid blue; */
    gap:5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    
}
#fresh_bottom>div{
    /* border: 1px solid #6f8a94; */
    height: 300px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 2%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}
/* #fresh_bottom>div:hover{
    border: 1px solid skyblue;
} */
#fresh_bottom>div img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50%;
  margin-top: 3%;
    
}
#fresh_bottom>div h2{
    line-height: 0.1;
    padding-left: 7px;
    color: black;
}
.freshsection a{
 text-decoration: none;
}
#fresh_bottom>div h2,p{
    line-height: 0.1;
    padding-left: 7px;
    color: black;
}
#fresh_bottom>div h2 p,h5{
    line-height: 0.1 ;
    font-size: 15px;
    color: #6f8a94;
    padding-left: 7px;
}
#fresh_bottom>div span{
    color: #6f8a94;
   display: inline-block;
   padding-left: 7px;
   
    
}
#fresh_bottom>div strong{
    color: #6f8a94;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    padding-right: 7px;
   
    
}

#fresh_bottom>div>div{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    line-height: 0.1 ;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 12px;
    color: #6f8a94;
    padding-left: 7px;
    padding-right: 7px;
    
}

/* ****************************************load more*************************************** */

.loadmore button{
    margin: 50px auto;
    padding: 8px 16px; 
    border-radius: 6px; 
    background-color:white ;
    cursor: pointer; 
    font-size: 16px;
    display: block;
    transition: all 0.3s; 
    border: 2px;
    border: 2px solid #002f34;
    
}
.loadmore button:hover{
    border: 4px solid #002f34 ;
}
#loadmore_productid{
    display: none;
}
.firstrow{
    width: 93%;
    
    gap:5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
}
.box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50%;
    margin-top: 5%;
}
.box{
    border: 1px solid #6f8a94;
    height: 300px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 2%;
    margin-top: 5px;
}
.box:hover{
    border: 1px solid skyblue;
}
.box h2,.box p{
    line-height: 0.1;
    padding-left: 7px;
}
.box span{
    color: #6f8a94;
   display: inline-block;
   padding-left: 7px;   
}
.box strong{
    color: #6f8a94;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    padding-right: 7px;
}
/* **********************************footer img app********************************************* */
.foot{
    width: 100%;
    height: 200px;
    margin-top: 30px;
    display: flex;
    background-color: #ebeeef;
    
    
}
.foot>div{
    width: 100%;
}

.foot>div>h1{
    text-align: center;
    color: #002f34;
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
}
.foot>div>p{
    font-size: 20px;
    line-height: 24px;
    padding-left: 70px;
    color: #002f34;
}
.foot>div>h4{
    padding-left: 40px;
    color: #002f34;
    margin-top: 50px;
}
.line{
    
    border-right:1px groove #6f8a94;
    
}
.image{
    width: 80%;
    height: 40px;
   margin: auto;
   display: flex;
   
    gap:5px
   
}
.image>img{
    width: 90%;
    gap:20px;
    cursor: pointer;
}



